header, footer
{
	background:RGB(255, 255, 255);
	padding:10px;
	display:flex;
	justify-content: space-between;
	position: auto;
}

header
{
	top:0px;

}

footer
{
  	left: 0px;
  	right: 0px;
  	bottom: 0px;

}

article
{
	background:RGB(22, 85, 250);
	color: white;
}

p
{
	text-align:center;
}


h1{
	padding:0% 0% 1% 1%;
}
h2
{
	text-decoration: underline;
	font-size: 1em;
	font-style: italic;
	margin: 3%;
}

h3
{
	font-size: 1em;
	font-style: italic;
}

h4 
{
	font-size: 1em;
	color: RGB(219,219,219);
}

a
{
	text-decoration:none;
	color:black;
}

a:hover
{
   color: red;
}

#conteneur3
{
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: 2%;
  	margin-top:3%;
  	padding:0%;
}

#conteneurparametre
{
	width: 25%;
	margin-left: auto;
  	margin-right: auto;
	padding:5px;
	display: flex;
	font-size: 0.8em;
}

select {
    width: 50%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid RGB(185, 204, 249);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid RGB(185, 204, 249);
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background:RGB(185, 204, 249);
}