header, footer
{
	background:RGB(255, 255, 255);
	padding:10px;
	display:flex;
	justify-content: space-between;
	position: auto;
}
header
{
	top:0px;

}
article
{
	padding:1%;
	margin: 0%;
	background:RGB(22, 85, 250);
	font-size: 15px;
	color: white;
	min-height:370px;
}
footer
{
  	left: 0px;
  	right: 0px;
  	bottom: 0px;

}
body
{
	height: 100%;
	margin: 0;
	padding: 0;
	background:RGB(255, 255, 255);
	font-size: 15px;
	font-family: cantarell;
}


input, select {
    width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background:RGB(90, 150, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background:RGB(22, 85, 183);
}
 
/*
.formulaire1 {
    background:RGB(90, 150, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulaire1 {
    background:RGB(22, 85, 233);
}*/
.formulaire1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*text-align: center;*/
	height: 100%;
}
form{
	height: 100%;
}
#conteneur1 
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*text-align: center;*/
	width:25%;
}

#conteneur2
{
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 33%;

}

#conteneurinfo
{
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 33%;
}

#conteneur3
{
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: 2%;
  	margin-top:4%;
  	padding:0%;
}

#conteneurcercle
{
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	
}

#conteneurcercle > div {
	position: auto;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
  	margin: 25px;
  	line-height:100px;
	color:black;  
}

#profil{
	margin-right:2%;
	margin-top:3%;
	display: flex;
	flex-direction: column;
	
}

p
{
	text-align:center;
}

h2
{
	font-size: 1.2em;
}

a
{
	text-decoration:none;
	color:black;
}

a:hover
{
   color: red;
}

em
{
	color:red;
}

.obligatoire
{
	color: red;
	font-size: 0.8em
}

#cercle{
	position: relative;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	
}

#cercleprofil{
	border-radius:50%;
  	width:160px;
 	height:160px;
 	border:2px solid #679403; 
	background: white;
}

input[id="supprimer"] {	
    width: 100%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[id="supprimer"]:hover {
    background:RGB(185, 204, 249);
}

#tableau_bord
{
	color: blue;
}

.confirmer{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size: 0.9em;
	flex-direction: column;
	margin-left:32%;
  	margin-right: auto;
	width: 33%;
	background:white;
	color:black;
	display:none;
	position:fixed;
	padding:1%;
	border: 2px solid #ddd;
}

.confirmer:target{
	display:block;
}

.question
{
border: 2px solid green;
border-radius: 10px;
background: green;
color: white;
border-bottom-left-radius: 0px;
margin-right:10%;
margin-top:2%;
margin-bottom:2%;	
}
.reponse
{
	border: 2px solid white;
	border-radius: 10px;
	background: white;
	color: grey;
	border-bottom-right-radius: 0px;
	margin-left:10%;
	margin-top:2%;
	margin-bottom:2%;
}
#conteneur5
{
	display:flex;
	justify-content:space-around;
	background:RGB(22, 85, 233);
	color:white;
}
#conteneur6
{
	width:60%;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
}
.bonhomme1
{
	margin-top:5%;
	position: fixed;
	left:0px;
}
.bonhomme2
{
	margin-top:5%;
	position: fixed;
	right:0px;
}
@media screen and (max-width: 1000px)
{
    	.bonhomme1
	{
		visibility:hidden;
	}
		.bonhomme2
	{
		visibility:hidden;
	}
}
#condition
{
	color:grey;
	background-color:white;
	width:80%;
	margin:auto;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
}
.article
{
	text-align:left;
}
.titre_condition
{
	font-size: 2em;
}

#conteneurcercle1
{
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}
#conteneurcercle1 > div {
	position: auto;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
  	margin: 25px;
  	line-height:100px;
	color:black;  
}

.menu-vertical{
	background-color:RGB(255, 255, 255);
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
}

.menu-vertical .avatar{
	background-image: url(../images/LogoHabilisPetit.png);
	width: 128px;
	height: 128px;
	margin: 25px auto 15px auto;
	
}

.menu-vertical .menu{
	background-color: RGB(90, 150, 250);
	width: 270px;
	padding: 15px;
	margin-bottom: 10px;
	
}

#article2{

	margin: 0%;
	background:RGB(22, 85, 250);
	font-size: 15px;
	color: white;
	min-height:700px;
}