header, footer
{
	background:RGB(255, 255, 255);
	padding:10px;
	display:flex;
	justify-content: space-between;
	position: auto;
}
header
{
	top:0px;

}
article
{
	padding:1%;
	margin: 0%;
	background:RGB(22, 85, 250);
	font-size: 15px;
	color: white;
	min-height:390px;
}
footer
{
  	left: 0px;
  	right: 0px;
  	bottom: 0px;
}
body
{
	height: 100%;
	margin: 0;
	padding: 0;
	background:RGB(255, 255, 255);
	font-size: 15px;
	font-family: cantarell;
}


input, select {
    width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background:RGB(90, 150, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background:RGB(22, 85, 183);
}

input[type=admin]{
	width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid RGB(22, 85, 250);
    border-radius: 4px;
    box-sizing: border-box;
    height:200px;
}

input[type=admin2]{
	width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid RGB(22, 85, 250);
    border-radius: 4px;
    box-sizing: border-box;
}

select[type=admin]{
	width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid RGB(22, 85, 250);
    border-radius: 4px;
    box-sizing: border-box;
}
 
/*
.formulaire1 {
    background:RGB(90, 150, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.formulaire1 {
    background:RGB(22, 85, 233);
}*/
.formulaire1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*text-align: center;*/
	height: 100%;
}

form{
	height: 100%;
}
#conteneur1 
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*text-align: center;*/
	width:25%;
}

#conteneur2
{
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 33%;

}

#conteneurinfo
{
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 50%;
}

#conteneurinfo2
{
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	margin-left:220px;
  	margin-right: auto;
	width: 60%;
}

#conteneur3
{
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: 2%;
  	margin-top:3%;
  	padding:0%;
}

#conteneur3bis
{
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: 2%;
  	margin-top:6%;
  	padding:0%;
}

#conteneurcercle
{
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	
}

#conteneurcompo
{
	display:inline-block;
	vertical-align:top;
}

#cercle {
	position: auto;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	line-height:normal;
  	margin: 25px;
	color:black;  
	text-align:center;
}

#cercle > div {
	padding :40% 3% 1%;
	font-size : 19px;
}

#texte{
	width: auto;
	font-size: 1.2em;
}

input[id="bouton"] {
	position: auto;
	width:100px;
	height:100px;
	margin: 25px;
	background:RGB(255,182, 108);
	border-radius:50%;
	color: black;
}

input[id="bouton"]:hover {
    background:RGB(255,197, 138);
}


#profil{
	margin-right:2%;
	margin-top:3%;
	display: flex;
	flex-direction: column;
	
}

p
{
	text-align:center;
}

h2
{
	font-size: 1.2em;
	margin-left: 3%;
}

a
{
	text-decoration:none;
	color:black;
}

a:hover
{
   color: red;
}

em
{
	color:red;
}

.obligatoire
{
	color: red;
	font-size: 0.8em
}

#cercle{
	position: relative;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	
}

#cercleprofil{
	border-radius:50%;
  	width:160px;
 	height:160px;
 	border:2px solid #679403; 
	background: white;
}

input[id="retour"] {	
    width: 100%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[id="retour"]:hover {
    background:RGB(185, 204, 249);
}

input[id="supprimer"] {	
    width: 50%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin: auto;
    border: 2px solid RGB(191, 223, 255);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
}

input[id="supprimer"]:hover {
    background:RGB(191, 223, 255);
}

input[id="ajout"] {
    width: 50%;
    background:RGB(22, 85, 250);
    color: white;
    padding: 10px 20px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[id="ajout"]:hover {
    background:RGB(90, 150, 250);
}
input[id="admin"] {	
    width: 100%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
}

input[id="admin"]:hover {
    background:RGB(191, 223, 255);
}

#tableau_bord
{
	color: blue;
}

.confirmer{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size: 0.9em;
	flex-direction: column;
	margin-left:32%;
  	margin-right: auto;
	width: 33%;
	background:white;
	color:black;
	display:none;
	position:fixed;
	padding:1%;
	border: 2px solid #ddd;
}

.confirmer:target{
	display:block;
}

.question
{
	border: 2px solid RGB(191, 223, 255);
	border-radius: 10px;
	background: RGB(191, 223, 255);
	color: black;
	border-bottom-left-radius: 0px;
	margin-right:10%;
	margin-top:1%;
	margin-bottom:1%;
	padding: 5px;	
}

.reponse
{
	border: 2px solid white;
	border-radius: 10px;
	background: white;
	color: black;
	border-bottom-right-radius: 0px;
	margin-left:10%;
	margin-top:1%;
	margin-bottom:1%;
	padding: 5px;
}

#conteneurtexte
{
	width:700px; 
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	
}


#conteneurarticle
{
	margin-left: auto;
  	margin-right: auto;
  	width:400px; 
  	border: 2px solid RGB(190, 223, 255);
  	padding: 10px;
  	border-radius: 4px;
}
#conteneur6
{
	width:60%;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	word-wrap: break-word;
}
#conteneur_faq
{
	display:flex;
	justify-content:space-around;
	background:RGB(22, 85, 250);
	color:white;
}

.bonhomme1
{
	margin-top:5%;
	position: fixed;
	left:0px;
}
.bonhomme2
{
	margin-top:5%;
	position: fixed;
	right:0px;
}
@media screen and (max-width: 1000px)
{
    	.bonhomme1
	{
		visibility:hidden;
	}
		.bonhomme2
	{
		visibility:hidden;
	}
}
#condition
{
	color:grey;
	background-color:white;
	width:80%;
	margin:auto;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px grey;
	padding:2%;
}
.article
{
	text-align:left;
}
.titre_condition
{
	font-size: 2em;
}

#conteneurcercle1
{
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

#tdb {
	position: auto;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
  	margin: 25px;
  	line-height:100px;
	color:black;  
}

.menu-vertical{
	background-color:RGB(22, 85, 250);
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
}


.menu-vertical .menu{
	background-color: RGB(191, 223, 255);
	width: 160px;
	padding: 15px;
	margin-bottom: 10px;
	border: 4px solid RGB(22, 85, 250);;
	
}

#article2{

	margin: 0%;
	background:RGB(255, 255, 255);
	font-size: 15px;
	color: white;
	min-height:700px;
	top: 0;
	bottom: 0;
	padding: 0px;
}

.contenu{
	margin-left:220px;
	color: black;
}

table{
	border: 1px solid black;
	border-collapse: collapse; 
	width: 70%;
	margin: auto;
}

th {
	border: 1px solid black;
	width: 50%;
	padding: 7px;
	background-color: RGB(191, 223, 255);
}

td {
	border: 1px solid black;
	width: 50%;
	padding: 10px;
}

th#nom2 {
	border: 1px solid black;
	width: 30%;
	padding: 7px;
	background-color: RGB(191, 223, 255);
}

th#adresse{
	border: 1px solid black;
	width: 50%;
	padding: 7px;
	background-color: RGB(191, 223, 255);
}

th#tel {
	width: 30%;
	padding: 7px;
	border: 1px solid black;
	background-color: RGB(191, 223, 255);
}

td#nom2 {
	border: 1px solid black;
	width: auto;
	padding: 15px;
}

td#adresse {
	border: 1px solid black;
	width: auto;
	padding: 15px;
}

td#tel{
	border: 1px solid black;
	width: auto;
	padding: 15px;
	
}

td#admin{
	border: 1px solid black;
	width: auto;
	padding:15px;
	
}

table#notification{
	border: 1px solid black;
	width: 80%;
	margin: auto;
	
}

th#not{
	width: 80%;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}


th#date{
	width: 15%;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}

th#vu{
	width: auto;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}

td#not2{
	width: auto;
	padding: 7px;
	height: 60px;
}

table#modif{
	border:  none;
	width: 100%;
	margin: 0px;
	font-size: 17px;
}

th#modif{
	width: 180px;
	padding: 3px;
	height: 50px;
	background:RGB(22, 85, 250);
	border: none;
}

td#modif{
	width: 180px;
	padding: 3px;
	height: 50px;
	background:RGB(22, 85, 250);
	text-align:center;
	border:none;
}

table#modif2{
	border:  none;
	width: 100%;
	margin: 0px;
	font-size: 17px;
}

th#modif2{
	width: 180px;
	padding: 3px;
	height: 50px;
	background:white;
	border: none;
}

td#modif2{
	width: 180px;
	padding: 3px;
	height: 50px;
	background:white;
	text-align:center;
	border:none;
}

#conteneurmodif2
{
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 53%;

}

input[id="modif"] {	
    width: 60%;
    background:RGB(22, 85, 250);
    color: white;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
}

input[id="modif"]:hover {
    background:RGB(255, 255, 255);
    color: black;
}

input[id="modif2"] {	
    width: 60%;
    background:white;
    color: black;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
}

input[id="modif2"]:hover {
    background:RGB(22, 85, 250);
    color: white;
}

input[id="vu"] {
    background-color:RGB(22, 85, 250);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    padding:20% 15% 20% 20%;
    font-size: 15px;
}

input[id="vu"]:hover {
    background:RGB(90, 150, 250);
}

#CGU
{
	height: 70%;
	width: 80%;
}

#conteneurtxt {
	font-size: 23px;
	margin-left: 5px;
	margin-right: 5px;
}

#titre_FAQ
{
	text-align: center;
}

input[id=second] {
    width: 100%;
    background:RGB(22, 85, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[id=second]:hover {
    background:RGB(22, 85, 183);
}

#textecercle{
	padding:20%;
}

#textecercle:hover{
	padding:20%;
	color:red;
}

#stats
{   width: 50%;
    color: white;
    padding: 10px 20px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
	background: RGB(22,0,250);
}

#conteneurparametre {
	width: 60%;
}

#conteneurparametre > div {
	font-size: 0.7em;
}

table#secondaire{
	border: 1px solid black;
	width: 80%;
	margin: auto;
	
}

th#nom{
	width: 20%;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}


th#mail{
	width: 20%;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}

th#changer{
	width: 40%;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}

th#type{
	width: 20%;
	padding: 5px;
	height: 70px;
	background:RGB(22, 85, 150);
}

td#changer{
	width: auto;
	padding: 0% 1% 0% 1%;
	height: 70px;
	display:;
}

input[id="seconda"] {	
    width: 60%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    
}

input[id="seconda"]:hover {
    background:RGB(191, 223, 255);
}

#conteneursecond{
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 100%;
}
.forme_stats
{
	display:flex;
	justify-content: space-between;
}
.selection_stats
{
	width: 20%;
}

input[id="cercleon"]{
	position: absolute;
	border-radius: 50%;
	width: 40%;
	height: 40%;
	padding: 10px;
    margin: 30% 30% 20% 30%;
    line-height:120%;
    cursor: pointer;
    display: flex;
    background-color:RGB(200,200,200);
    border: 2px solid RGB(180,180,180);
    color:RGB(130,130,130)
}

input[id="cercleoff"]{
	position: absolute;
	border-radius: 50%;
	width: 40%;
	height: 40%;
	padding: 9px;
    margin: 30% 30% 20% 30%;
    line-height:120%;
    cursor: pointer;
    display: flex;
    background-color:RGB(120,120,120);
    border: 2px solid RGB(100,100,100);
    color:RGB(30,30,30)
}

input[id="cercleon"]:hover {
    background-color:RGB(255,255,255);
}

input[id="cercleoff"]:hover {
    background-color:RGB(90,90,90);
}

#suppression {
	margin: 10px;
	text-align:center;
}

input[id="suppression"]{
	width: 20%;
    background:RGB(255, 255, 255);
    color: black;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid RGB(191, 223, 255);
    border-radius: 4px;
}

input[id="suppression"]:hover {
	background-color : RGB(191, 223, 255);
}

input[type=msg]{
	width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height:200px;
}