header, footer
{
	background:RGB(192, 192, 192);
	padding:10px;
	display:flex;
	justify-content: space-between;
	position: auto;
}
header
{
	top:0px;

}
article
{
	padding:1%;
	margin: 0%;
	background:RGB(22, 85, 233);
	font-size: 15px;
	color: white;
	min-height:370px;
}
footer
{
  	left: 0px;
  	right: 0px;
  	bottom: 0px;

}
body
{
	height: 100%;
	margin: 0;
	padding: 0;
	background:RGB(192, 192, 192);
	font-size: 15px;
	font-family: cantarell;
}


input, select {
    width: 100%;
    padding: 10px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background:RGB(90, 150, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background:RGB(22, 85, 183);
}
 
/*
.formulaire1 {
    background:RGB(90, 150, 250);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulaire1 {
    background:RGB(22, 85, 233);
}*/
.formulaire1
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*text-align: center;*/
	height: 100%;
}
form{
	height: 100%;
}
#conteneur1 
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*text-align: center;*/
	width:25%;
}

#conteneur2
{
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 33%;

}

#conteneurinfo
{
	font-size: 1.5em;
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: auto;
	width: 33%;
}

#conteneur3
{
	display: flex;
	flex-direction: column;
	margin-left: auto;
  	margin-right: 2%;
  	margin-top:4%;
  	padding:0%;
}

#conteneurcercle
{
	font-size: 1em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 92%;
	margin-left: auto;
  	margin-right: auto;
}

#conteneurcercle > div {
	position: auto;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
  	margin: 25px;
  	line-height:100px;
  	color:black;
}

#profil{
	margin-right:2%;
	margin-top:3%;
	display: flex;
	flex-direction: column;
	
}

p
{
	text-align:center;
}

a
{
	text-decoration:none;
	color:black;
}

a:hover
{
   color: red;
}

em
{
	color:red;
}

.obligatoire
{
	color: red;
	font-size: 0.8em
}

#cercle{
	position: relative;
	background: RGB(255,182, 108);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	
}

#cercleprofil{
	border-radius:50%;
  	width:160px;
 	height:160px;
 	border:2px solid #679403; 
	background: white;
}

input[id="supprimer"] {	
    width: 100%;
    background:RGB(192, 192, 192);
    color: black;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[id="supprimer"]:hover {
    background:RGB(170, 170, 170);
}

#tableau_bord
{
	color: blue;
}

.confirmer{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size: 0.9em;
	flex-direction: column;
	margin-left:32%;
  	margin-right: auto;
	width: 33%;
	background:white;
	color:black;
	display:none;
	position:fixed;
	padding:1%;
	border: 2px solid #ddd;
}

.confirmer:target{
	display:block;
}